* {
 font-family: Veranda;
}

body {
  background-color: black;
  text-align: center;
}

.content h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;
}

h2 {
  font-weight: 300;
  font-size: 42px;
  color: white;
}

a .cta {
  color: aquamarine;
  font-size: 16px;
}

#video {
  url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/excursion/videos/excursion.mp4);
}

h3 {
  font-size: 21 px;
  color: gray;
}

footer {
  font-size: 21px;
  color: Gray;
  text-align: right;
}
